<html>
    <head>
        <title>TFL Zones</title>
    </head>
<body>

<p>you are at <em style="color: green; font-size: 2em;">Latitude: <%= latitude %>, longitude: <%= longitude %></em>.</p>

</body>
</html>