<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8"></meta>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" href="favicon.ico">
	<link rel="shortcut icon" href="favicon.ico">
    <title>TFL Zones</title>
    </head>
<body>

<p>you are at <em style="color: green; font-size: 2em;">Latitude: <%= latitude %>, longitude: <%= longitude %></em>.</p>

</body>
</html>